.profileBlock {
    border: 1px solid black;

    width: 413px;
    height: 540px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    padding-bottom: 40px;
    height: 96px;
    width: 96px;
    border-radius: 50%;
}

.date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 115px;
}

.description{

}

.buttons {
    cursor: pointer;
}