.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBody {
    padding: 30px;
    background: #F9F9FE;
    border-radius: 8px;
    width: 100%;
    max-width: 420px;
}

.title {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 35px;
}

.subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    padding-bottom: 35px;
}