.button {
  border: none;
  width: 100%;
}

.button:disabled {
  opacity: 0.6;
}

.buttonRounded {
  height: 35px;
  border-radius: 30px;
  font-size: 16px;
}

.buttonDefault {
  height: 33px;
  border-radius: 2px;
  font-size: 14px;
}

.buttonBlue {
  background: #21268F;
  color: white;
}

.buttonLightBlue {
  background: #D7D8EF;
  color: rgba(33, 38, 143, 0.8);
}

.buttonRed {
  background-color: #F1453D;
  color: white;
}