.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    appearance: none;
    border: 2px solid #9F97C9;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox:checked {
    background: url(check.png) -15px -5px/ 53px no-repeat;
}

.spanClassName {
    padding-left: 15px;
    display: inline-block;
    height: 100%;
    font-size: 18px;
    font-family: Roboto, serif;
}

.spanClassName:hover {
    text-decoration: underline;
}
